$imgWidth: 12rem;

nav {
	padding: 4rem 0;
	height: 10rem;
	display: flex;
	text-align: center;
}
.navbar__container {
	width: calc(100% - 5rem);
	display: flex;
	justify-content: center;
}

.navbar__img {
	width: $imgWidth;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.navbar__container {
		width: 50%;
	}
}
